@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: beige;
}

h1{
    color:#101010;
}

input{
    background: transparent;
    color: #101010;
    border: none;
    width: 30%;
}

input::placeholder{
    color: #101010;
    background-color: none;
}

input:focus{
    border: none;
    outline: none;
}

button{
    border:none;
    background: none;
    color: #101010;
}

.validation{
    color: red;
}

.task{
    color: #101010;
    
}